{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/manager.css')}}">
{% endblock %}
{% block title %}Редактирование таблицы продаж{% endblock %}

{% block content %}
    <div class="title">
        <h1>Рога и Копыта</h1>
        <h2>Таблица для учета продаж</h2>
    </div>
    <form method="post" action="">
        <label for="name">Название проданного корма</label>
        <input type="text" id="name" name="name" required>
        <label for="name">Количество проданного корма в шт.</label>
        <input type="number" id="amount" name="amount" required min="0">
        <label for="name">Вес проданного корма в кг. </label>
        <input type="number" id="weight" name="weight" step="0.001" required min="0">
        <label for="name">Изначальная цена корма за шт. </label>
        <input type="number" id="price" name="price" required min="0">
        <label for="name">Скидка в процентах</label>
        <input type="number" id="discount" name="discount" min="0">
        <label for="name">ФИО менеджера</label>
        <input type="text" id="manager" name="manager" required>
        <input type="submit" value="Сохранить">
        <a href="{{ url_for('logout') }}">Выход</a>
            {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </form>
{% endwith %}
{% endblock %}
